* {
  font-family: "Tenor Sans", sans-serif;
}
main {
  margin-top: 175px;
  margin-bottom: 100px;
}

.App {
  text-align: center;
}

.myName {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red) !important;
}


.navButtons {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.productCard {
  width: 18rem;
  margin: 10px;
}
.sortIcon {
  text-align:right !important;
}
.contactHeader {
  text-align: center;
}
