* {
  font-family: "Tenor Sans", sans-serif;
}
main {
  margin-top: 175px;
  margin-bottom: 100px;
}

.App {
  text-align: center;
}

.brandImage {
  height: auto !important;
  width: 100% !important;
  max-width: 50px !important;
}

.navButtons {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.productCard {
  width: 18rem;
  margin: 10px;
}
.sortIcon {
  text-align:right !important;
}
.contactHeader {
  text-align: center;
}
